/*共通スタイル*/
body{
  color:#4d4d4d;
  background-color:#ffffff;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  background-color:#F5EBEB;
}

.section-title {
  text-align:center;
  font-weight:bold;
}

.sub-title {
  text-align:center;
}

/*top*/
#pagetop{
  display:none;
  position: fixed;
  bottom: 38px;
  right: 20px;

  background-color: #867070;
  padding:28px 24px;
  border-radius: 50%;
  font-family:"Noto Sans JP" , sans-serif ;

}

#pagetop > a {
  color:#ffffff;
  text-align:center;
  text-decoration:none;
}

/*セクションのフェードイン*/
section{
  opacity:0;
  transition:1s;
}

.fade-in{
  opacity:1;
}

/*モーダル*/
.modal{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color:rgba(0,0,0,0.8);
  display:none;
}

.big-img{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:80%;
  max-width:800px;
  margin:auto;
}

.close-btn{
  position:absolute;
  top:10px;
  right:20px;
  color:white;
  font-size:40px;
  text-decoration:none;
}



/*画面幅が768px以上の時*/
@media screen and (min-width:768px){
  /*PC用のスタイル*/
body{
  font-size:18px;
}

.section-title{
  font-size:34px;
  margin-top:50px;
  margin-bottom:50px;
}


/*ヘッダー*/
header{
  margin:20px 179px 0 179px;
  display:flex;
  justify-content:space-between;
  text-align:center;
}

header > a{
  font-size:40px;
  font-weight:bold;
  color:#4d4d4d;
  text-decoration:none;
  padding:0px 20px 0px 20px;
}

#nav-pc > a{
  font-size:34px;
  font-weight:bold;
  color:#4d4d4d;
  text-decoration: none;
  padding-left:20px;
}

/*メインビジュアル*/
#mainvisual{
  margin-top:20px;
  width:100%;

}

.carouselImg{
  max-width:100%;
  width:0 auto;
}

/*Work*/

#works{
  margin-top:60px;
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
  margin:0 auto;
}

#works > div {
  display:flex;
  justify-content:space-around;
}
.works-item{
  text-decoration:none;
  text-align: center;
}

.works-name {
  font-size:20px;
  font-weight:bold;
  color:#4d4d4d;
  text-align: center;
}

.works-info {
  color:#4d4d4d;
  text-align: center;
}

.works-detail{
  width:25%;
}

.works-detail-center{
  width:25%;
}

.works-item{
  max-width:700px;
  display:flex;
  text-align: center;
  margin:0 auto;
  justify-content: space-around;
}

/*ABOUT*/
#about{
  margin-top:60px;
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

#about > div{
  display:flex;
  align-items: center;
  justify-content: center;
  height:200px;
}

#about > div > img{
  /*画像の外枠を入れたい*/
  border-radius:100%;
  height:100%;
  max-width:200px;
}

.profile {
margin-left:40px;
}

.profile > p{
  font-size: 24px;
  font-weight:bold;
}

.profile > ul {
  list-style: none;
}

/*Hobby*/
#hobby{
  margin-top:60px;
  padding-top: 50px;
  padding-bottom: 80px;
  margin:0 auto;
  text-align: center;
}

#hobby > div{
  max-width:1000px;
  text-align: center;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
}


.hobby-detail{
  width:25%;
  margin:0 auto;
}

.hobby{
  font-size:20px;
  font-weight:bold;
}

.hobby-detail-center{
  width:25%;
  margin:0 20px;
}

.hobby-img{
  width:100%;
}

/*フッター*/
footer{
  margin-top:30px;
  text-align: center;
}

}

@media screen  and (max-width:767px){

body{
  min-width:375;
  font-size:10px;
}

.section-title{
  font-size:15px;
}

  /*ヘッダー*/
header{
  max-width:900px;
  margin:20px ;
  display:flex;
  justify-content:space-between;
  text-align:center;
}

header > a{
  font-size:20px;
  font-weight:bold;
  color:#4d4d4d;
  text-decoration:none;
  border:1px solid #000000;
  padding:0px 20px 0px 20px;
}

#nav-pc > a{
  font-size:20px;
  font-weight:bold;
  color:#4d4d4d;
  text-decoration: none;
  padding-left:20px;
}

/*メインビジュアル*/
#mainvisual{
  max-width:767px;
  margin-top:20px;

}

#mainvisual > img{
  width:100%;
}

/*ABOUT*/
#about{
  margin:60px;
}

#about > div{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100px;
}

#about > div > img{
  /*画像の外枠*/
  border-radius:100%;
  height:100%;
}

.profile {
margin-top:20px;
}

.profile > p{
  margin-left:10px;
  font-size: 13px;
  font-weight:bold;
}

/*Hobby*/
#hobby{
  margin-top:60px;
  margin:0 auto;
  text-align: center;
}

#hobby > div{
  display:block;
  justify-content: center;
}

.hobby-img{
  width:100%;
  margin:20px 20px 0 20px;
}


/*フッター*/
footer{
  margin-top:30px;
  text-align: center;
}

}